@page "/"

<h1>Welcome to BlazorCalc</h1>

This is a Desktop Calculator App written in C# and using WebWindow.Blazor for cross-platform Desktop UI.
The first version (Calculator) takes in two numbers and an operator.
The second version (Calculator2) takes in arbitrary equations.
Results may be stepped through using the controls.
